.contenedor-examen{
  padding:40px;
  background:#f1f5f9;
  min-height:100vh;
}

.contenedor-examen h1{
  margin-bottom:20px;
  color:#0f172a;
}

.pregunta-card{
  background:white;
  padding:20px;
  border-radius:15px;
  margin-bottom:20px;
  display:flex;
  flex-direction:column;
  gap:15px;

  box-shadow:
    0 5px 15px rgba(0,0,0,0.1);
}

.pregunta-card input{
  padding:12px;
  border-radius:10px;
  border:1px solid #cbd5e1;
}

.contenedor-examen button{
  padding:14px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  cursor:pointer;
  margin-right:10px;
  margin-top:10px;
}

.contenedor-examen button:hover{
  background:#1d4ed8;
}
